make `Origin` optional

Even though [RFC 8866 section 9](https://datatracker.ietf.org/doc/html/rfc8866#section-9) says `origin-field` is mandatory, I've come across a camera that doesn't supply it. I'd like to make it work. Context: https://github.com/scottlamb/moonfire-nvr/issues/187

I'm happy to prepare a PR if you agree this is worth doing. It looks like API-wise the choices are:
*   breaking API change (bump version to 0.2.0): make `sdp_types::Session::origin` an `Option<Origin>`.
*   represent this with a default/dummy value like `Origin { username: None, sess_id: String::new(), sess_version: 0, nettype: String::new(), addrtype: String::new(), unicast_address: String::new() }` or some such.

I'd prefer the former, but it's up to you.

I don't like the idea of encoding invalid SDPs in the type system. Doing that would also allow to generate such invalid SDPs.

As such the second option seems best to me